<header class="row">
  <p class="locate">【主功能表】</p>

  <h1>批批踢實業坊</h1>
  <nav>
    <ul>
      <% if user_signed_in? %>
        <li><%= current_user.account %></li>
        <li><%= link_to "登出", :sign_out_users, method: :delete %></li>
      <% else %>
        <li><%= link_to "登入", :sign_in_users %></li>
        <li><%= link_to "註冊", :sign_up_users %></li>
      <% end %>
    </ul>
  </nav>
</header>