body {
  background-color: #000;
  color: #fff;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  // color: #fff;
}

a {
  color: #ffa;
  text-decoration: none;
}
a:hover {
  color: #fa3;
  // font-size: 28px;
  transition: .5s;
}

p {
  font-size: 26px;
}

.row {
  display: flex;
}
.links {
  margin-left: 30px;
}
.links:first-child {
  // outline: 1px solid #faa;
  margin-left: 0;
  margin-right: auto;
}

form {
  label {
    display: block;
  }
  input, textarea {
    border-radius: 5px;
    border: 2px solid #aaa;
  }

  .field_with_errors {
    input, textarea {
      border-color: #f55;
    }
  }
}

.error_msg {
  color: #f55;
  width: 20%;
  margin: auto;
  text-align-last: left;
}

.posts-list {
  font-size: 24px;
}


table {
  font-size: 24px;
  border-collapse: collapse;
  text-align: center;
  margin: auto;

  th, td {
    padding: 5px 10px;
    border: 1px solid #aaa;
    min-width: 20px;
  }
  td {
    font-size: 20px;
    font-weight: 400;
  }
}


footer {
  // outline: 1px solid #faa;
  padding-top: 30px;
}